<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Produtcs</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon/add.png"/>
</head>
<body>
    <header>
        <div class="products">
            <div id="icon">
                <img src="../static/img/img.png" class="img" style="width:60px;height:60px;">
            </div>
                <nav>
                    <ul>
                        <li><a href="products.html">Products</a></li>
                        <li class="current"><a href="addproducts.html">Add Products</a></li>
                        <li><a href="sales.html">Sales Records</a></li>
                        <li><a href="signup.html">Create User account</a></li>
                        <li><a href="index.html">Logout</a></li>
 
                </ul>
            </nav>
    </div>
</header>
<section id="main_page">
<div class="product">
<div class="product_body">
    <h3>Add New Product</h3>
    <div class="form">
        <form onsubmit="event.preventDefault();" id="addproduct">
            <input type="text" id="item_name" placeholder="Item Name" required>
            <input type="text" id="item_price" placeholder="Item Price" required>
            <input type="text" id="quantity" placeholder="Number of items in the store" required>
            <input type="file" accept="image/*" id="product_image" required ><br> 
            <label>Choose category</label>       
            <select id="category">
                <option id="option"></option>
              </select>    
              <div id="message"></div>        
            <button type="submit"  onclick="addProduct()">Add Products</button>
        </form>
    </div>

 <a href="category.html"><h3>ADD ITEM CATEGORY</h3></a>
</div>
<div id="total">
       <strong>Total Products:</strong> 
        <div class="total" id="ttl"></div> 
</div>
<div class="product_body1">
    <h3> View available products </h3> 
    <div id="view_products"></div>
        
</div>
</div>
<div id="footer">Manage your stock in a more affordable way.</div>
</section>
<footer>
        <p>Gigz's Solutions Store manager, Copyright &copy; 2018</p>
</footer>
<script type="text/javascript" src="../static/javascript/products.js"></script>
</body>
</html>
