<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add To Cart</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon/shopping cart.png"/>
    
</head>

<body>
    <header>
        <div class="products">
            <div id="icon">
                <img src="../static/img/img.png" class="img" style="width:60px;height:60px;">
            </div>
            <nav>
                <ul>
                    <li class="current">
                        <a href="addtocart.html">Add To Buyers Cart</a>
                    </li>
                    <li>
                        <a href="atedantsales.html">Sales Records</a>
                    </li>
                    <li>
                        <a href="index.html">Logout</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
<section id="main_page">
    <div class="product">
        <div id="total">
            <strong>Current user:</strong> 
             <div class="total" id="current_user"></div> 
     </div>
        <div class="product_body1" style="float:left; width:90%;">
            <section class="food_items">
                <div class="single_item">
                    <article id="item_desc">
                        <div id="image">
                            <a href="cart.html"><img src="../static/img/cart.png" style="width:70px; height:60px"></a>
                        </div>
                        <h1 class="page_title">PRODUCTS IN THE STOCK</h1>
                        <form>
                            <input type="text" placeholder="Serch item" onkeyup="searchProduct()" id="search">
                        </form>
                        <div id="all_products"></div>
                       
                    </article>
                </div>
            </section>
        </div>
    </div>
    <div><marquee>Manage your stock in a more affordable way.</marquee></div>
</section>

<footer>
        <p>Gigz's Solutions Store manager, Copyright &copy; 2018</p>
</footer>
    
</body>
<script type="text/javascript" src="../static/javascript/sales.js"></script>
</html>