<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attedants Sales Records</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon/products.png"/>
</head>
<body>
    <header>
        <div class="products">
            <div id="icon">
                <img src="../static/img/img.png" class="img" style="width:60px;height:60px;">
            </div>
            <nav>
                <ul>
                    <li><a href="addtocart.html">Add To Buyers Cart</a></li>
                    <li class="current"><a href="atedantsales.html">Sales Records</a></li>
                    <li><a href="index.html">Logout</a></li>

                </ul>
            </nav>
    </div>
</header>
<section id="main_page">
<div class="product">
<div class="product_body">
     <h4>This section Tracks your sale records</h4>

    
     <div>
         
         <p><strong>Total sales:</strong> <div id="sales_records"></div></p>
     </div>

     <div>
            <p><strong>Total products sold:</strong> <div id="products_sold"></div></p>
        </div>
</div>
<div id="total">
    <strong>Current user:</strong> 
     <div class="total" id="current_user"></div> 
</div>
<div class="product_body1">
    <h3> SALES RECORDS</h3> 
    <div id="view_sale"></div>
</div>
</div>
<div><marquee>Manage your stock in a more affordable way.</marquee></div>
</section>
<footer>
        <p>Gigz's Solutions Store manager, Copyright &copy; 2018</p>
</footer>
<script type="text/javascript" src="../static/javascript/sales.js"></script>
</body>
</html>
