<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items in Cart</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon/records.png"/>
</head>
<body>
    <header>
        <div class="products">
            <div id="icon">
                <img src="../static/img/img.png" class="img" style="width:60px;height:60px;">
            </div>
        <nav>
                <ul>
                    <li class="current">
                        <a href="addtocart.html">Add To Buyers Cart</a>
                    </li>
                    <li>
                        <a href="atedantsales.html">Sales Records</a>
                    </li>
                    <li>
                        <a href="index.html">Logout</a>
                    </li>

                </ul>
            </nav>
    </div>
</header>
<section id="main_page">
<div class="product">
    <div class="product_body">
        <h3>Add To Cart</h3>
        <div onsubmit="event.preventDefault();"  class="form">
        <form  id='sales_record'>
            <input type="text"  required  readonly id="product_name">
            <input type="text" placeholder="Customer Name" required id="customer_name">
            <input type="text" placeholder="Quantity" required id="quantity">
            <div id="message"></div>
            <button type="submit" id="sales" onclick="addTocart()">Add To cart</button>            
        </form>
    </div>
    </div>
    <div id="total">
        <strong>Current user:</strong> 
         <div class="total" id="current_user"></div> 
 </div>
    <div class="product_body1">
        <h3> Cart details</h3> 
        <div id="view_cart"></div>
            
    </div>
 </div>
<div><marquee>Manage your stock in a more affordable way.</marquee></div>
</section>
<footer>
        <p>Gigz's Solutions Store manager, Copyright &copy; 2018</p>
</footer>
</body>
<script type="text/javascript" src="../static/javascript/cart.js"></script>
</html>
