<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon/login.png"/>
</head>
<body>
    <div class="login">
        
        <div class="form">
            <img src="../static/img/img.png" class="img" style="width:100px;height:100px;">
                <p>STORE MANAGER HELPS YOU TO MANAGE YOUR STOCK IN A MORE EFFECTIVE WAY</p>
            <form onsubmit="event.preventDefault();" id='login' >
                <input type="text" placeholder="Email" required id="email">
                <input type="password" placeholder="Password" required id="password">
                <button type="submit" id="btn_login" onclick="login()">Login</button>
                <div id="message"></div>
            </form>
        </div>
    </div>
<script type="text/javascript" src="../static/javascript/authentication.js"></script>
</body>
</html>
