<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Produtcs</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon/products.png"/>
</head>

<body>
    <header>
        <div class="products">
            <div id="icon">
                <img src="../static/img/img.png" class="img" style="width:60px;height:60px;">
                <link rel="shortcut icon" type="image/png" href="../static/img/favicon/products.png"/>
            </div>
            <nav>
                <ul>
                    <li class="current">
                        <a href="products.html">Products</a>
                    </li>
                    <li>
                        <a href="addproducts.html">Add Products</a>
                    </li>
                    <li>
                        <a href="sales.html">Sales Records</a>
                    </li>
                    <li>
                        <a href="signup.html">Create User account</a>
                    </li>
                    <li>
                        <a href="login.html">Logout</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>
    <div class="product">
        <div class="product_body">
            <h3>Category</h3>
            <ul id="category">
                <li class="current">
                    <a href="#">Fruits</a>
                </li>
                <li>
                    <a href="#">Beverages</a>
                </li>
                <li>
                    <a href="#">Statonaries</a>
                </li>
                <li>
                    <a href="#">Vegetables</a>
                </li>

            </ul>

        </div>
        <div class="product_body1">
            <section class="food_items">
                <div class="single_item">
                    <article id="item_desc">
                        <h1 class="page_title">PRODUCTS IN THE STOCK</h1>
                        <div id="all_products"></div>

                    </article>
                </div>
            </section>

        </div>
    </div>

    <footer>
        <p>Gigz's Solutions Store manager, Copyright &copy; 2018</p>
    </footer>
<script type="text/javascript" src="../static/javascript/products.js"></script>
    
</body>

</html>
