<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Records</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon/records.png"/>
</head>
<body>
    <header>
        <div class="products">
            <div id="icon">
                <img src="../static/img/img.png" class="img" style="width:60px;height:60px;">
            </div>
            <nav>
                <ul>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="addproducts.html">Add Products</a></li>
                    <li class="current"><a href="sales.html">Sales Records</a></li>
                    <li><a href="signup.html">Create User account</a></li>
                    <li><a href="login.html">Logout</a></li>

                </ul>
            </nav>
    </div>
</header>
<div class="product">
<div class="product_body">
     <h4>This section Tracks your sale records</h4>
     <form>
         <label>Filter By Store Attedant</label>
         <select>
             <option></option>
             <option>Georgey Mutti</option>
             <option>Lucy Thira</option>
             <option>Rose Mary</option>
         </select>
     </form>
     <div>
            <h4>Total Sales Records</h4>
            <p><strong>Total sales:</strong> 650</p>
        </div>
   
        <div>
               <p><strong>Total products sold:</strong> 5000</p>
           </div>
</div>
<div class="product_body1">
    <h3> SALES RECORDS</h3> 
    <div id="view_all_sale"></div>
</div>
</div>
<footer>
        <p>Gigz's Solutions Store manager, Copyright &copy; 2018</p>
</footer>
<script type="text/javascript" src="../static/javascript/all_sales_records.js"></script>
</body>
</html>
