<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New User</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon/add.png"/>
</head>
<body>
    <header>
        <div class="products">
            <div id="icon">
                <img src="../static/img/img.png" class="img" style="width:60px;height:60px;">
            </div>
                <nav>
                    <ul>
                        <li><a href="products.html">Products</a></li>
                        <li ><a href="addproducts.html">Add Products</a></li>
                        <li><a href="sales.html">Sales Records</a></li>
                        <li class="current"><a href="signup.html">Create User account</a></li>
                        <li><a href="login.html">Logout</a></li>
 
                </ul>
            </nav>
    </div>
</header>
<div class="product">
<div class="product_body">
    <h3>Add New User</h3>
    <div class="form">
        <p>STORE MANAGER HELPS YOU TO MANAGE YOUR STOCK IN A MORE EFFECTIVE WAY</p>
    <form>
        <input type="text" placeholder="Username" required id="username">
        <input type="text" placeholder="Email" required id="email">
        <input type="password" placeholder="Password" required id="password">
        <input type="password" placeholder="Confirm Password" required id="c_password">
        <select id="select">
            <option value="admin">Admin</option>
            <option value="user">User</option>
          </select>
        <button type="submit" id="login" onclick="add_user()">Add User</button>            
    </form>
</div>
</div>
<div class="product_body1">
    <h3> Available Users</h3> 
    <div id="view_user"></div>
        
</div>
</div>
<footer>
        <p>Gigz's Solutions Store manager, Copyright &copy; 2018</p>
</footer>
<script type="text/javascript" src="../static/javascript/user.js"></script>

</body>
</html>
