
.products{
  width : 80%;
  overflow: hidden;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 20px;
}
.items{
    width : 97%;
    margin: auto;
    overflow: hidden;
  
  }
#index_page{
    background: rgb(240, 236, 194);
    width : 80%;
    margin: 0 auto 100px;
    overflow: hidden;
    padding: 100px;
    border: 1px solid #f88934;
    border-radius: 40px;
    height: 400px;
    
}
#main_page{
    margin: 0 auto;
    padding-top: 64px;
    width: 94%;
}
.section{
    float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}
.section button{
  padding: 100px;
  background: rgb(238, 230, 143);
  border: 1px solid #f88934;
  border-radius: 40px;
}
.section button:hover{
    background: rgb(243, 233, 119);
  }
ul{
	margin: 0;
	padding: 0;
}
header{
    background: #939696;
    color: #ffffff;
    padding-top:20px;
    max-height: 90px;
    border-bottom: #525150 3px solid;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;    
}

header li{
    display: inline;
    padding: 0 20px 0 20px;
}
header nav{
	float: right;
    margin-top: 2px;
}
.current a{
	color: #e8491d;
	font-weight:bold;
	
}
.product{
    width : 95%;
    margin: auto;
    overflow: hidden;
    float: left;
    margin: 5px;

}
.product_body {
    float: left;
    margin-top: 100px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.product_body button {

    width: 80%;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
   
}

.product_body {
    width: 25%;
    margin: 5px;
    border: 1px solid #777674;
    border-radius: 4px;
    padding: 15px;
}
.product_body form label,select {
 padding: 5px;
 width: 50%;
 font-size: 15px;
 margin: 5px;
}

.product_body1 {
    width: 68%;
    float: right;
    overflow: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    align-content: center;
    margin: 5px;
    text-align: center;
  
}
#total{
    float: left;
    
}
.total{
    display: inline;
}
#image{
    float: right;
}
.product_body1 button{
    width: 100%;
}

.single_item{
    width: 80%;
    overflow: hidden;
    margin: auto;
}
.single_item li{
   float: left;
   text-align: center;
   width: 25%;
   padding: 10px;
   height: 260px;
   margin: 5px;
   border: 1px solid #f88934;
   border-radius: 4px;
   position: relative;
}
ul#single_product li{
    text-align: left;
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    border: 1px solid #f88934;
    border-radius: 4px;
    background: #f5f5f5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul#category li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
    text-align: center;
}
#single_product form input{
    padding: 5px;
    margin: 2px;
    border: 1px solid #83817f;
    border-radius: 4px;
}
#single_product form button, .add{
    padding: 5px;
    margin: 3px;
    border: 1px solid #83817f;
    border-radius: 4px;
    background: #f88934;
}
/*Add Product*/
.form form input{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    border: none;
    outline: none;
    background:transparent;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid rgba(100,100,100,5);
}
.form, #item_desc form input  {
    border: 1px solid #504f4f;
    border-radius: 4px; 
    padding: 5px;
    width: 90%;
    padding: 10px;
}
.form form button{
    width: 50%;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #6b6a69;
    border-radius: 4px; 
    background: #f88934;
}
.modify{
    padding: 5px;
	float: left;
	text-align: center;
	width: 28%;
    color: rgb(132, 169, 238);	
}
.modify button{
    background: #f88934;
    border: 1px solid #f88934;
    border-radius: 4px;
}

/*Sales records*/
ul#product_body1  table,th, td {
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    text-align: left;
}
table {
    border-spacing: 5px;
    margin: 20px;
    width: 90%;
    background: #cccccc;
    padding: 10px;
}
table.sales_records tr:nth-child(even) {
    background-color: #eee;
}
table.sales_records tr:nth-child(odd) {
    background-color: #fff;
}
table.sales_records th {
    color: white;
    background-color: rgb(184, 179, 179);
}


footer{
    padding: 5px;
    color: #ffffff;
    background-color: #f88934;
    text-align: center; 

}
/*Media Queries*/
@media(max-width: 1000px){
	header .products,
		header nav,
		header nav li{
		 float: none;
		 text-align: center;
		 width: 100%;
	}
	header{
        padding-bottom: 20px;
        max-height: 100px;
    }
    .single_item{
        
        width: 100%;
        overflow: hidden;
        margin: auto;
    }
    .single_item li{
       float: right;
       width: 22%;
    }
    .product_body1 {
        width: 100%;
    }
    .product_body {
        width: 80%;
        padding: 5px;
        float: right;      
    }
    .form, #item_desc form input  {
        border: 1px solid #ffffff;
        width: 90%;
    }
    
}
@media(max-width: 650px){
    .single_item{
        width: 90%;
        overflow: hidden;
        margin: auto;
    }
    .single_item li{
       float: right;
       width: 40%;
    }
    ul#product_body1  table,th, td,{
        padding: 2px;

    }
}
