body{
    background:#ffffff;
 }
 
 .login{
     width: 660px;
     padding: 5% 0 0;
     margin: auto;
 }
 .form{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     position: relative;
     z-index: 1;
     max-width: 600px;
     margin: 0 auto 100px;
     padding: 45px;
     border: 1px solid #f88934;
     border-radius: 40px;
     color: #f88934;
     
 }
 .form p{
     text-align: center;
 }
 .form input{
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     width: 100%;
     padding: 15px;
     margin: 5px;
     align-content: center;
     box-sizing: border-box;
     border: 1px soli#f88934;
     border-radius: 10px;
 }
 .form button{
     width: 100%;
     margin: 5px;
     padding: 15px;
     background-color: #f88934;
     border: 1px soli#f88934;
     border-radius: 10px;
 }
 .img{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
 }